.inlineContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 20px;
  overflow: hidden;

  cursor: pointer;

  margin: 20px;
  min-height: 60px;

  background-color: #f2feff;
  border-radius: 50px;
  outline: 2px solid black;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;

  padding: 10px 20px 10px 20px;

  align-items: center;
}

.filterText {
  font-family: "Lexend";
  padding: 10px 15px 10px 15px;
}

.iconContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 50px;
  height: 50px; */

  position: relative;
  display: flex;
  align-items: center;

  height: 50px;
  overflow: hidden;
  white-space: nowrap;

  cursor: pointer;

  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;

  background-color: white;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.absolute {
  position: absolute;
}
